*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    padding: 0;
    margin: auto;
    position: absolute;
    left: auto;
    right: auto;
	font-family: 'Outfit', sans-serif;
	color: #ffffff ;
	font-size: 16px;
    background-color: #181818;
    
}
.container {
    max-width: 100%;
    margin: 0 auto;
    text-transform: none
}

.header {
    max-width: 100%;
    background: #FFAA4C;
    height: 38px;
}
.upLine{
    display: flex;
    justify-content: left;
    align-items: left;
}

.upLine li a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
}
.upLine li {
    padding: 9px 40px 9px 40px;
    border-radius: 20px 20px 0px 0px;
}
.business{
    padding: 9px 40px 9px 40px;
    border-radius: 20px 20px 0px 0px;
    background: var(--grayscale-01, #181818);
    color: #ffffff
    
}
.customers{
    color: #181818;
}

a {
    color: #ffffff;
    text-decoration: none
}
.LogoLine{
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    left: 40px;
}
.budss{
    padding: 0;
    margin: 0;
    display: flex;
    width: 15px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    color:  #FFF;
    text-align: center;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
}
.Logo{

    padding: 9.215px 0px 8.933px 9.215;
    margin: 0;
    width: 41.467px;
    height: 41.255px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.ContactButton1{
    justify-content: center;
    align-items: left;
    padding: 16px 30px;
    position: relative;
    top: 7px;
    left: 75%;
    gap: 14px; 
    border-radius: 16px;
    background:  #954CED;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ContactButton2{
    padding: 16px 30px;
    position: relative;
    top: 500px;
    left: -15%;
    gap: 14px; 
    border-radius: 16px;
    background:  #954CED;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 2;
}

.tagline h1{
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    padding: 0 0 0 20px;
    margin: 0;
    border: 0;
}
.tagline h2{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: relative;
    right: 50%;
    top: 200px;
    
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.tagline {
    height: 800px;
    display: flex;
    position: relative;
    left: 4%;
    top: 150px;
}
.girlLogo{
    position: absolute;
    bottom: 40%;
    right: 5%;
    width: 595px;
    height: 529px;
    flex-shrink: 0;
}
.dividingStrip{
    position: relative;
    display: flex;
    max-width: 100%;
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.aboutBudss{

    max-width: 100%;
    height: 950px;
    padding: 0 0 0 20px;
    margin: 0;
    border: 0;
    position: relative;
    left: 40px;
}
.aboutBudss h1{
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;

}

.aboutBudss h3{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    top: 0;
    
}

.allPaint img{
    width: 100px;
    height: 100px;
}

.allPaint h2{
    position: relative;
    top: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%
}

.allPaint h4{
    position: relative;
    top: 0px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%
    
}

.smear{
    position: absolute;
    top: 185px;
    left: 85px;
}

.star{
    position: absolute;
    left: 40%;
    top: 90px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 321px;
    height: 268px;
}

.arrow{
    position: absolute;
    left: 70%;
    top: 90px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 321px;
    height: 268px;
}

.wevy{
    position: absolute;
    left: 40%;
    top: 400px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 321px;
    height: 268px;
}

.rings{
    position: absolute;
    left: 70%;
    top: 400px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 321px;
    height: 268px;
}


.Vector269{
    position: absolute;
    left: -3%;
    top: 400px;
}
.Vector270{
    position: relative;
    top: 430px;
    left: -4.5%;
}

.HBW{
    position: relative;
    width: 2088px 100%;
    height: 816px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    
}   

.Phone {
    position: absolute;
    right: 40%;
    border-radius: 49px;
    width: 308px;
    height: 623px;  
}

.HBW h1{
    font-size: 128px;
    font-style: normal;
    font-weight: 700px;
    line-height: 105%;  
    white-space: nowrap; /* без пробелов*/
}


.oneLine{
    width: 200%;
    position: relative;
    top: 50px;
    z-index: -1;
    text-align:right;
    width:100%;
    white-space: nowrap;
}

.oneLine h1 { 
    display:inline-block;
    width: 80%;
    text-indent:0;
    animation: oneLine 15s linear infinite}

@keyframes oneLine {
0%  { transform: translate(0%, 0); }
100% { transform: translate(-200%, 0); }
}
@media only screen and  (max-width: 440px) {
.oneLine h1{animation:none; padding-left:0}
}


.twoLine{
    width: 200%;
    position: relative;
    top: 100px;
    z-index: -1;
    text-align:left;
    width:100%;
    /*overflow:hidden;*/
    white-space: nowrap;
}

.twoLine h1 { 
    display:inline-block;
    width: 80%;
    text-indent:0;
    animation: twoLine 15s linear infinite reverse}

@keyframes twoLine {
0%  { transform: translate(0%, 0); }
100% { transform: translate(-200%, 0); }
}
@media only screen and  (max-width: 440px) {
.twoLine h1{animation:none; padding-left:0}
}

.threeLine{
    width: 200%;
    position: relative;
    top: 150px;
    z-index: -1;
    text-align:left;
    width: 100%;
    /*overflow:hidden;*/
    white-space: nowrap;
}

.threeLine h1 { 
    display:inline-block;
    width: 80%;
    text-indent:0;
    animation: threeLine 15s linear infinite}

@keyframes threeLine {
0%  { transform: translate(0%, 0); }
100% { transform: translate(-200%, 0); }
}
@media only screen and  (max-width: 440px) {
.threeLine h1{animation:none; padding-left:0}
}

.colorText {
    color: transparent; /* прозрачный цвет букв */
    -webkit-text-stroke: 1px rgb(70, 70, 70);
}

.colorText1 {
    color: #2FDBBC
}

.colorText2 {
    color: #A64CED
}

.colorText3 {
    color: #FFAA4C

}

.procent{
    display: flex;
    max-width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: var(--primary-01, #954CED);
}

.procent h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    color: var(--grayscale-07, #FFF);
    margin: 40px 0 10px 0;
}

.procent h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0 0 40px 0 ;
}

.answer h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    text-align: center 
}

.answer h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.smear2{
    width: 400px;
    height: 46px;
    position: relative;
    right: -36%;
    bottom: 47px;
    z-index: -1;

}
.answerSmear{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 49px;
}

.dividingStrip2{
    background-color: #ffffff;
    position: relative;
    max-width: 100%;
    height: 100px;
    
}

.whiteBlock{
    background-color: #ffffff;

}

.whiteBlock h2{
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    color: var(--grayscale-00, #000);
    text-align: center;
}

.ContactButton3{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
    background:  #954CED;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ContactButton4{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
    background:  #954CED;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: -8%;
    bottom: 147px;
}

.ContactButton1:hover:active{
    background-color: #181818;
}
.ContactButton2:hover:active{
    background-color: #181818;
}
.ContactButton3:hover:active{
    background-color: #181818;
}
.ContactButton4:hover:active{
    background-color: #181818;
}

.plug{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: #f00;
}

.ContactButton5{
    padding: 16px 30px;
    position: relative;
    top: 400px;
    left: 100%;
    gap: 14px; 
    border-radius: 16px;
    background:  #954CED;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ContactButton5:hover:active{
    background-color: #181818;
}

.whiteBlock img{
    width: 100%;
}

.bottomfooter{
    display: block;
    align-items: center;
    margin: auto;
    width: 100%;
}
